html{
    font-size: large;
}
body{
    background-color: rgb(47, 28, 68);
    background-image: url(/img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.dots-color{
color: rgb(255, 255, 255);
font-weight: bold;
font-size: xx-large;}


    .style{
        color: aliceblue;
    }
    .suuii{
        font-size: xx-large;
        font: bolder;
    }
    .opa{
        font-size: x-large;
        color: rgb(135, 227, 255);
        font:oblique
    }
    a{
        color: rgb(169, 205, 237);
    }
    a:visited{
        color: lightblue;
    }
    a:hover, a:active{
        color: #eee
    }
